*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "mm mm hh hh hh hh hh hh hh hh hh hh hh"
  "mm mm cc cc cc cc cc cc cc cc cc cc cc"
  "ff ff ff ff ff ff ff ff ff ff ff ff ff"
  ;
  grid-template-columns: repeat(12,75px);
  grid-template-rows: 75px auto 35px;
}
.container #header{
  grid-area: hh;
  background-color: rgb(11, 40, 65);
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
}
.container #header .doctorDetails{
  display: flex;
}
.container #header p{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
  margin-right: 10px;
}
.container #header p a{
text-decoration: none;
color: #fff;
}
.container #header :nth-child(4){
  /* margin-right: 10px; */
}
.container #header :nth-child(1){
  /* margin-left: 10px;
  margin-right: 90px; */
}
.container #navbar{
  grid-area: mm;
  background-color: rgb(48, 74, 97);
  /* border-right: 10px #000 solid; */
}
.container #navbar .logo{
  border-bottom: 2px solid black;
}
.htable .logo1{
  text-align: justify;
  margin-top: 20px;
  /* padding-bottom: 38px; */
  color: #000;
  margin-left: 30px;
  margin-bottom: 2px;
}
.htable .logo1 p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(38, 76, 109); 
}
.container #navbar .logo p{
  font-size: 20px;
  font-family: "Edu AU VIC WA NT Arrows", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  padding-bottom: 38px;
}
/* .container #navbar .output{
  display: flex;
  flex-direction: column;
  
} */
 .container #navbar .ratiba{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .container #navbar .ratiba a{
  text-decoration: none;
  padding: 10px 0px 5px 15px;
  color: #fff;
 }
.container #navbar .output p a{
  text-decoration: none;
  color: #fff;
}
.container #content{
  grid-area: cc;
  background-color:aliceblue;
  overflow: auto;
}
.container #footer{
  grid-area: ff;
  background-color: #fff;
}
.container #content .navBar{
  display: flex;
  justify-content: space-between;
  height: 55px;
  background-color: rgb(212, 208, 208);
  border-bottom: 2px black solid;
  border-right: 2px black solid;
}
.container #content .navBar a{
  text-decoration: none;
  color: #000;
}
.container #content .navBar a:hover{
  text-decoration: underline;
}
.container #content .navBar p{
  padding: 20px 15px 10px 10px;
}
.container #content .formDoctor{
  height: 500px;
  margin: 0px 20px 20px 0px;
}
.container #content .formDoctor form {
  height: 300px;
}
.container #content .formDoctor form input{
  display:block;
  width: 400px;
  height: 40px;
  margin:  10px 0px 30px 10px;
  color: #000;
}
.container #content .formDoctor form select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
}
.container #content .formDoctor form label{
  margin: 10px;
  font-size: 16px;
}
.container #content .formDoctor form select option {
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
}
.container #content .formDoctor form select option:checked{
  background-color: #dcdcdc;
  color: #000;
}
.container #content .formDoctor form select:hover{
  background-color: #dcdcdc;
  color: #000;
}
.container #content .formDoctor form button{
  display: block;
  color: #000;
  background-color: rgb(151, 169, 151);
  margin-left: 10px;
  margin-top: 10px;
  height: 55px;
  width: 100px;
  border-radius: 25px;
}

.hidden{
  display: none;
}
.container #content .formSpecialization{
  height: 500px;
  margin: 0px 20px 20px 0px;
}
.container #content .formSpecialization form select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
}
.container #content .formSpecialization form label{
  margin: 10px;
  font-size: 16px;
}
.container #content .formSpecialization form select option {
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
}
.container #content .formSpecialization form select option:checked{
  background-color: #dcdcdc;
  color: #000;
}
.container #content .formSpecialization form select:hover{
  background-color: #dcdcdc;
  color: #000;
}
.container #content .formSpecialization form button{
  display: block;
  color: #000;
  background-color: rgb(151, 169, 151);
  margin-left: 10px;
  margin-top: 10px;
  height: 55px;
  width: 100px;
  border-radius: 25px;
}
.container #content .formHospitals{
  height: 500px;
  margin: 0px 20px 20px 0px;
}
.container #content .formHospitals form {
  height: 300px;
}
.container #content .formHospitals form input{
  display:block;
  width: 400px;
  height: 40px;
  margin:  10px 0px 30px 10px;
  color: #000;
}
.container #content .formHospitals form button{
  display: block;
  color: #000;
  background-color: rgb(151, 169, 151);
  margin-left: 10px;
  margin-top: 10px;
  height: 55px;
  width: 100px;
  border-radius: 25px;
}

/* dindex.php style */
.container #content .formRatiba form {
  height: 300px;
}
.container #content .formRatiba form input{
  width: 400px;
  height: 40px;
  margin:  10px 0px 30px 10px;
  color: #000;
}
.container #content .formRatiba form select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
}
.container #content .formRatiba form label{
  margin: 10px;
  font-size: 16px;
}
.container #content .formRatiba form select option {
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
}
.container #content .formRatiba form select option:checked{
  background-color: #dcdcdc;
  color: #000;
}
.container #content .formRatiba form select:hover{
  background-color: #dcdcdc;
  color: #000;
}
.container #content .formRatiba form button{
  display: block;
  color: #000;
  background-color: rgb(38, 76, 109);
  margin-left: 10px;
  margin-top: 10px;
  height: 55px;
  width: 100px;
  border: none;
  /* border-radius: 25px; */
}
#delete{
  color: #000;
  background-color: rgb(249, 65, 114);
  margin-left: 10px;
  margin-top: 10px;
  height: 45px;
  width: 100px;
  border: none;
}
#update{
  color: #000;
  background-color: rgb(23, 217, 111);
  margin-left: 10px;
  margin-top: 10px;
  height: 45px;
  width: 100px;
  border: none;
}
.refresh{
  display: block;
  color: #000;
  background-color: rgb(38, 76, 109);
  margin-left: 10px;
  margin-top: 10px;
  height: 55px;
  width: 55px;
  outline: none;
  border: none;
  /* border-radius: 25px; */
}
.refresh i{
  font-weight: bolder;
  font-size: 30px;
}
/* Table styyling */
.htable .ht{
  border-collapse: collapse;
  margin: 25px 2rem;
  font-size: .9em;
  width: 800px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
}
.htable .ht thead tr{
  background-color: cornflowerblue;
  text-align: left;
  font-weight: bold;
}
.htable .ht th,
.htable .ht td{
  padding: 12px 15px;

}
.htable .ht tbody tr{
  border-bottom: 1px solid #444;
  transition: transform 0.5s;
}
.htable .ht tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
.htable .ht tbody tr:last-of-type{
  border-bottom: 2px solid cornflowerblue;
}
/* Chart Style */
.mychart{
  height: 50%;
  width: 50%;
  margin: 15px 25px 80px 50px;
}
.mychartt{
  height: 50%;
  width: 50%;
  margin: 15px 25px 80px 50px;
}
.mychart #myChart{
  background-color:transparent;
  font-weight: bold;
}
.mychart #myChart1{
  background-color: transparent;
}
.chartTypes{
  display: flex;
  flex-direction: row;
}
.chartTypes .mcbtn {
  /* display: block; */
  color: #000;
  background-color: rgb(38, 76, 109);
  margin-left: 10px;
  margin-top: 10px;
  height: 35px;
  width: 70px;
  border: none;
}
.chartTypes p{
  margin-top: 14px;
  font-weight: bold;

}
#navbar p a{
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}
#navbar p{
  padding-bottom: 10px;
}